<!--
  ~ Copyright (C) 2017, Hugo Freire <hugo@dog.ai>. All rights reserved.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} [%thread] %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
